* {
    margin: 0;
    padding: 0;
}

/* .................................................................................................................................................................... */

/* LOGO */

.logo {
    width: 280px;
    height: 65px;
    padding: 20px 50px;
}

/* .................................................................................................................................................................... */

/* NAVBAR CSS */

.navbar {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: white;
    height: 100px;
}

.nav-ul {
    padding: 35px;
    padding-right: 100px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

.nav-item {
    font-weight: 500;
    font-family: 'Poppins';
    border: none;
    padding: 0px 25px;
    background-color: white;
    font-size: 1.1rem;
}

.nav-item:hover {
    color: #194a84;
    cursor: pointer;
}

#join-us {
    cursor: pointer;
}

.dropdown {
    position: relative;;
    left: 0;
    background-color: #f7f9fc;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    padding: 0.5rem 0;
    min-width: 160px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.dropdown a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.dropdown a:hover {
    background-color: #e0e0e0;
}

/* .................................................................................................................................................................... */

/* MAIN CSS */

.main-container {
    background-color: #f5f7fa;
}

.main {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 6rem 4rem;
    margin: 0px 100px;
}

.main-text {
    flex: 1;
    font-family: 'Poppins';
    color: #4d4d4d;
}

.main-text h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.subheading {
    line-height: 1.5;
    max-width: 600px;
    font-size: 1.1rem;
    color: #717171;
    margin-bottom: 1.5rem;
}

.main-text ul {
    margin-top: 0.5rem;
    margin-left: 1rem;
    list-style-type: disc;
}

.main-text li {
    padding: 2px;
    font-size: 1.1rem;
}

.main-image {
    flex: 1;
    min-width: 280px;
    display: flex;
    justify-content: center;
}

.main-image img {
    max-width: 100%;
    height: auto;
}

/* .................................................................................................................................................................... */

/* HEADING */

.heading {
    font-size: 2.5rem;
    font-family: 'Poppins';
    text-align: center;
    color: #717171;
}

/* .................................................................................................................................................................... */

/* CAROUSEL */

.clientele {
    padding: 30px;
}

.carousel-wrapper {
    overflow: hidden;
    z-index: 1;
    width: 100%;
    background-color: white;
    padding: 20px 0;
    padding-bottom: 40px;
}

.carousel {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    width: max-content;
    animation: scroll 40s linear infinite;
}

.carousel-track img {
    height: 100px;
    margin: 0 50px;
    transition: transform 0.3s;
}

/* Smooth infinite scroll animation */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .carousel-track img {
        width: 180px;
        height: 120px;
    }
}

/* .................................................................................................................................................................... */

/* EXCELLENCE */

.excellence {
    padding: 30px 0px;
    background-color: #f5f7fa;
}

.excellence-img {
    display: flex;
    justify-content: center;
}

.excellence img {
    align-items: center;
}

/* .................................................................................................................................................................... */

/* BLUE BAND */

.blue-band-container {
    margin: 50px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: white;
}

.blue-band {
    width: 80%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #194a84;
    border-radius: 15px;
}

.blue-band-item {
    color: white;
    text-align: center;
    font-family: 'Poppins';
    line-height: 40px;
    font-weight: 2rem;
}

/* .................................................................................................................................................................... */

/* OUR CAPABILITIES */

.capabilities-out {
    display: flex;
    justify-content: center;
    background-color: #f5f7fa;
    padding: 50px;
}

.capabilities-heading {
    line-height: 40px;
}

.capabilities-container {
    width: 70%;
    padding: 30px;
    background-color: #001631;
    border-radius: 20px;
}

.capabilities {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.capabilities-item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.capabilities-item img {
    width: 100px;
}

.capabilities-title {
    color: white;
    font-family: 'Poppins';
    font-size: 1.5rem;
    font-style: bold;
}

.capabilities-text {
    line-height: 30px;
    max-width: 340px;
    font-size: 1rem;
    font-weight: 300px;
    color: white;
    font-family: 'Poppins';
}


/* .................................................................................................................................................................... */

/* FOOTER */

.footer {
    background-color: #232f34;
    color: white;
    padding: 20px 40px;
    font-family: 'Poppins';
}

.logo-footer {
    height: 40px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.divider {
    border: none;
    height: 1px;
    background-color: #888;
    margin: 20px 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 14px;
}

.social-icons button {
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social-icons img {
    width: 20px;
    height: 20px;
}